*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root{
  --primary-red: #9d0208;
  --secondary-red: #d00000;
  --tertiary-red: #500513;
  --primary-black: #03071e;
  
}


/*----------------components----------------*/
.heading-ele-container{
  height: fit-content;
  width: fit-content;

}
.heading-ele{
  font-size: 10rem;
  font-weight: bolder;
  color: white;
}

.Subheading-ele-container{
  height: fit-content;
  width: fit-content;

}
.subheading-ele{
  font-size: 7rem;
  font-weight: bolder;
  color: white;
}
@media screen and (max-width:390px){
  .heading-ele{
    font-size: 3rem;
  }
  .subheading-ele{
    font-size: 2rem;
  }
}

@media screen and (max-width:600px) {
  .heading-ele{
    font-size: 6rem;
  }
  .subheading-ele{
    font-size: 4rem;
  }
  
}
/*--------------Navbar---------------*/

.navbar-container{
  height: 5rem;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar-links{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  margin: 2rem;
  transition: all 0.2 ease;
}
.navbar-links:hover{
  color: var(--primary-red);
  transform: scale(1.1);
}
@media only screen and (max-width:390px) {
  .navbar-links{
    display: none;
  }
}

/*----------------------hero section--------------------*/
.hero-container{
  height: 40rem;
  width: 100%;
  position: relative;
  display: flex;
  /* background-color: var(--primary-black); */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-img{
  height: 30rem;
  width: 30rem;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.hero-graphic{
  position: relative;
  margin-top: 12rem;
  
  color: var(--primary-red);
  z-index: 10 ;
}
.hero-designer{
  color: black;
  margin-top: -4rem;
}
.homeScreen-background-video{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1000;
  object-fit: cover;
}
@media only screen and (max-width: 1024px)  {
  
}
/*---------------------------project screen---------------*/
.project-screenleft-container{
  height: 40rem;
  width: 100%;
  /* background-color: var(--primary-black); */
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.project-screenright-container{
  height: 40rem;
  width: 100%;
  /* background-color: var(--primary-black); */
  padding: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
.project-card-container{
  height: 25rem;
  width: 25rem;
  margin: 2rem;
 background-color: var(--primary-red);
 border-radius: 1rem;
}
.project-detailleft-container{
  height: 25rem;
  width: 40rem;
  margin: 2rem;
 /* background-color: var(--tertiary-red); */
 display: flex;
 
 align-items: flex-start;
 flex-direction: column;
}
.project-detailright-container{
  height: 25rem;
  width: 40rem;
  margin: 2rem;
 /* background-color: var(--tertiary-red); */
 display: flex;
 
 align-items: flex-end;
 flex-direction: column;
}
.project-title{
  font-size: 6rem;
  color: var(--primary-red);
}
/* Styles for small devices (portrait) */
@media only screen and (max-width: 576px) {
  .project-screenleft-container{
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-screenright-container{
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card-container{
    height: 25rem;
    width: 20rem;
    margin: 0.5rem;
   background-color: var(--primary-red);
   border-radius: 1rem;
  }
  .project-detailleft-container{
    height: 25rem;
    width: 100%;
   align-items: center;
   margin: 0.5rem;
  }
  .project-detailright-container{
    height: 25rem;
    width: 100%;
   align-items: center;
   margin: 0.5rem;
  }
  .project-title{
    font-size: 3rem;
  }
}

/* Styles for small devices (landscape) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .project-screenleft-container{
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-screenright-container{
    height: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-card-container{
    height: 35rem;
    width: 30rem;
    margin: 1rem;
   background-color: var(--primary-red);
   border-radius: 1rem;
  }
  .project-detailleft-container{
    height: 25rem;
    width: 100%;
   align-items: center;
   margin: 1rem;
  }
  .project-detailright-container{
    height: 25rem;
    width: 100%;
   align-items: center;
   margin: 0.5rem;
  }
  .project-title{
    font-size: 4rem;
  }
}

/* Styles for medium devices (portrait) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

  .project-card-container{
    height: 20rem;
    width: 30rem;
    margin: 1.5rem;
   background-color: var(--primary-red);
   border-radius: rem;
  }
  .project-detailleft-container{
    height: 20rem;
    width: 100%;
   align-items: flex-start;
   margin: 1.5rem;
  }
  .project-detailright-container{
    height: 20rem;
    width: 100%;
   align-items: flex-end;
   margin: 1rem;
  }
  .project-title{
    font-size: 5rem;
  }
}

/* Styles for medium devices (landscape) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .project-card-container{
    height: 25rem;
    width: 35rem;
    margin: 1.5rem;
   border-radius: 1rem;
  }
  .project-detailleft-container{
    height: 25rem;
    width: 100%;
   align-items: flex-start;
   margin: 1.5rem;
  }
  .project-detailright-container{
    height: 25rem;
    width: 100%;
   align-items: flex-end;
   margin: 1rem;
  }
  .project-title{
    font-size: 6rem;
  }
}

/* Styles for large devices (portrait) */
@media only screen and (min-width: 1201px) {
  .project-card-container{
    height: 30rem;
    width: 45rem;
    margin: 2cqh;
   border-radius: 1rem;
  }
  .project-detailleft-container{
    height: 30rem;
    width: 100%;
   align-items: flex-start;
   margin: 2rem;
  }
  .project-detailright-container{
    height: 30rem;
    width: 100%;
   align-items: flex-end;
   margin: 2rem;
  }
  .project-title{
    font-size: 7rem;
  }
}




/*------------------------footer-----------------------*/

.footer-screen-container{
  height: 40rem;
  width: 100%;
  background-color: black;
  display: flex;
justify-content: center;
  flex-direction: column;
  position: relative;
}
.footer-tagline{
  margin:3rem;
}
.footer-create{
  margin-top: -4rem;
}
.footer-line{
  height: 0.5rem;
  width: 80vw;
  margin-left: 3rem;
  background-color: white;
  margin-top: -2rem;
}
.footer-contact-button{
  height: 12rem;
  width: 12rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10rem;
  top: 10rem;
  background-color: var(--primary-red);
  font-size: 2rem;
  color: white;
}

/* Styles for small devices (portrait) */
@media only screen and (max-width: 576px) {
  .footer-screen-container{
    height: 40rem;
    width: 100%;
    background-color: black;
    display: flex;
  justify-content: flex-start;
    flex-direction: column;
    position: relative;
  }
  .footer-tagline{
    margin:1rem;
  }
  .footer-create{
    margin-top: -3rem;
  }
  .footer-line{
    height: 0.1rem;
    width: 80vw;
    margin-left: 1rem;
    background-color: white;
    margin-top: -2rem;
  }
  .footer-contact-button{
    height: 6rem;
    width: 6rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: var(--primary-red);
    font-size: 0.5rem;
    color: white;
  }
  .footer-lets{
    font-size: 4.5rem;
    margin-top: 4rem;
    font-weight: lighter;
  }
  .footer-create{
    font-size: 6rem;
    font-weight: lighter;
    margin-left: -0.1rem;
  }
  
}

/* Styles for small devices (landscape) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  /* Your CSS rules here */
}

/* Styles for medium devices (portrait) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* Your CSS rules here */
}

/* Styles for medium devices (landscape) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* Your CSS rules here */
}

/* Styles for large devices (portrait) */
@media only screen and (min-width: 1201px) {
  /* Your CSS rules here */
}

/* Styles for large devices (landscape) */
@media only screen and (min-width: 1201px) {
  /* Your CSS rules here */
}
